services:
  neo4j:
    build:
      context: .
      dockerfile: docker/neo4j/dockerfile
    container_name: neo4j-metabolism
    env_file:
      - .env
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    restart: unless-stopped
  api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: metabolic-api
    depends_on:
      - neo4j
    environment:
      APP_NEO4J_URI: bolt://neo4j:7687
      APP_NEO4J_USER: ${APP_NEO4J_USER}
      APP_NEO4J_PASSWORD: ${APP_NEO4J_PASSWORD}
    ports:
      - "8000:8000"
    restart: unless-stopped

volumes:
  neo4j_data:
  neo4j_logs:
